<h2>Add new post</h2>
<form [formGroup]="postForm" (ngSubmit)="onSubmit($event, postForm.value)" autocomplete="off">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="name" [formControl]="title" [ngClass]="{'is-invalid':submitted && title.invalid}">
    <div class="invalid-feedback">The title is required</div>
  </div>
  <div class="form-group">
    <label for="content">Body</label>
    <textarea class="form-control" id="content" [formControl]="body" [ngClass]="{'is-invalid':submitted && body.invalid}"></textarea>
    <div class="invalid-feedback">The body is required</div>
  </div>
  <hr>
  <div class="text-right">
    <button (click)="cancel()" class="btn btn-default">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
